# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Fire_app_back_end\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
